<html>
<head></head>
<body style="background-color: lightgreen">
	<div class="container">
	<div style="background-color: #122b40; color: white; font-size: 50px">
		<b><center>USER LOGIN PAGE</center></b>
	</div>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li> {{ message }} </li>
	{% endfor %}
</ul>
{% endif %}
</div>

<center><form method="post" action="" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group"><h3>Username</h3>
		<input type="text" name="user" class="form-control" placeholder="Enter username"><br>
	</div>
	<h3>Password</h3>
			<input type="password" name="pas" class="form-control" placeholder="Enter password"><br>
		</br>
			<button type="submit">Login</button>
			<button><a href="home_page">Back</a></button>
		</center>
		</form>
	</body>
	</html>

